<!DOCTYPE html>
<html lang="de" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>THE ADVERSARY</title>
    <link rel="icon" type="image/x-icon" href="img/logodark.svg">
    <base href="{{.BasePath}}">

    <link rel="stylesheet" href="css/index.css">
    <script src="js/api.js" type="text/javascript"></script>
    <script src="js/main.js" type="text/javascript" defer></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&family=Roboto:wght@400;700&family=Staatliches:wght@400;500&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>

    <div class="navigation">
      <img id="logo" src="img/logodark.svg">
      <a href="#">Home</a>
      <a href="html/about.html">About</a>
      <input oninput="updateSeach(this.value)" type="text" placeholder="Search" name="" value="">
    </div>

    <div class="header-title">
      <h1>The Adversary</h1>
      <h2>Assault penguins to the Power</h2>
    </div>
    <div class="content">
      <div id="articles" class="articles">
         <!--
        <a href="#">
          <div class="article">
            <div class="article-header">
              <h3>Java is trash, and here is the proof.</h3>
            </div>
            <div class="article-description">
              <p><i>OPINION</i><i>DAVID</i><i>15.12.2021</i></p>
            </div>
            <div class="article-body">
              <p>After a recent vulnerability voices get louder that demand to retire the language.</p>
            </div>
          </div>
        </a>

        <div class="divider"></div>
    -->
      </div>
    </div>
  </body>

  <footer>
    <div class="foot">
      <a href="html/about.html">ABOUT</a>
      <a href="html/contact.html">CONTACT</a>
      <a href="html/legal-notice.html">LEGAL NOTICE</a>
    </div>
  </footer>

</html>
